
.drinksCard {
  position: relative;
  height: 100%;
  width: 24rem;
  cursor: pointer;
}

.drinks-cardImg:hover {
  position: relative;
  height: 100%;
  width: 28rem;
  cursor: pointer;
}

.cardImg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 24rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  transition: all 0.5s ease;
}

.cardImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cardBody {
  position: absolute;
  left: 1.5rem;
  bottom: 2rem;
  font-family: var(--ff-primary);
}

.cardBody h1 {
  margin-bottom: 35rem;
  color: var(--white);
  font-size: var(--text-xl);

}

.cardBody h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--grey-300);
  font-size: var(--text-base);
}

.Cards_cards {
  display: grid;
  grid-gap: 1rem;
}

