drinksCard {
  width: 21.875rem;
  height: 100%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 21%;
  transition: all 0.5s ease;
}
.drinksCard:hover {
  width: 25rem;
  height: 100%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 21%;
}

.drinksCard {
  display: grid;
  grid-gap: 5rem;
  gap: 5rem;
  grid-auto-rows: 20rem;
}

.cardImg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  transition: all 0.6s ease;
}

.cardImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody {
  position: absolute;
  left: 1.5rem;
  bottom: 2rem;
  font-family: var(--ff-primary);
}

.cardBody h1 {
  margin-bottom: 35rem;
  color: var(--white);
  font-size: var(--text-xl);

}

.cardBody h2 {
  margin-bottom: -2rem;
  color: var(--grey-300);
  font-size: var(--text-base);
}
