.drinksCard {
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 21%; */
  transition: all 0.5s ease;
}

.drinksCard:hover {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 21%; */
}


.drinksCard {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.cardImg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody {
  position: absolute;
  left: 1.5rem;
  bottom: 2rem;
  font-family: var(--ff-primary);
}

.cardBody h1 {
  margin-bottom: 1rem;
  color: var(--white);
  font-size: var(--text-xl);
}

.cardBody h2 {
  color: var(--grey-300);
  font-size: var(--text-base);
}
