

.drinksCard:hover {
  position: relative;
  height: 50rem;
  width: 28rem;
  cursor: pointer;
  
}

.cardImg:hover {
  display: flex;
  z-index: -1;
  width: 24rem;
  height: 35rem;
  flex-direction: row;
  align-items: left;
  gap: 4rem;
  transition: all 0.5s ease;
}

.cardImg img:hover {
  display: block;
  width: 33rem;
  height: 32rem;
  padding-bottom: 4rem;

}

/* text edit here */
.cardBody {
  font-size: 2rem;
  position: absolute;
  background: transparent;
  border: 1px solid red;
  height: 46rem;
  left: 0;
  width: 24rem;
  bottom: 3.4rem;
}

.drinksCard:hover {
  position: relative;
  background: white;
  height: 40rem;
  width: 24rem;
  cursor: pointer;
}
.cardBody h1 {
  height: 9.4rem;
  background-color: grey;
  font-weight: 01rem;
  font-size: 1.9rem;
}
.cardBody h2 {
  margin-top: 35rem;
  color: black;
  height: 0rem;
  font-weight: 1;
  font-size: 1.5rem;
  
}

.drinksCards {
  display: grid;
  grid-gap: 1rem;
}

