

.drinks-cardImg:hover {
  position: relative;
  height: 100%;
  width: 28rem;
  cursor: pointer;
  
}

.cardImg {
  z-index: -1;
  width: 24rem;
  height: 32rem;
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 4rem;
  
  transition: all 0.5s ease;
}

/* .cardImg img:hover {
  display: block;
  width: 35rem;
  height: 35rem;
  padding-bottom: 2rem;

} */

/* text edit here AND CAUSED PROB_TOP */
/* .cardBody {
  font-size: 2rem;
  position: absolute;
  background: transparent;
  border: 1px solid red;
  height: 46rem;
  left: 0;
  width: 24rem;
  bottom: 3.5rem;
} */

.cardBody h1 {
  height: 8rem;
  background-color: grey;
  font-weight: var(--text-xs);
  color: var(--white);
  font-size: var(--text-xl);
}
.drinksCard:hover {
  position: relative;
  background: white;
  height: 40rem;
  width: 24rem;
  cursor: pointer;
}
.cardBody h2 {
  margin-bottom: 30rem;
  margin-top: 35rem;
  color: black;
  
  height: 0rem;
  font-weight: 01;
  font-size: 1.5rem;
  
}

.drinksCards {
  
  display: grid;
  grid-gap: 3rem;
}

