.SignatureDrinksItem-container {
  box-sizing: border-box;
  color: #4d2c57;
  height: fit-content;
  padding: 56px 16px;
  position: relative;
  width: 100%;
}

.SignatureDrinksItem-title {
  font-size: 48px;
  font-weight: 500;
}

.SignatureDrinksItem-image-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 56px;
  width: 100%;
}

.SignatureDrinksItem-image {
  height: 345px;
  width: 367px;
}

.SignatureDrinksItem-link {
  font-size: 24px;
}
