.services__container {
  min-height: 60vh;
  background-color: black;
  color: black;
}

.services__container h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 2.5rem;
}

.services__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__item__header {
  height: 13rem;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: white;
  transition: all 0.5s ease;
}

.service__item__header__tear1 {
  border-radius: 0px 10px 0px 0px;
}

.service__item__header__tear2 {
  border-radius: 10px 0px 0px 0px;
}

.service__item__header__tear1 h3,
.service__item__header__tear2 h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.service__item__header__tear1 p,
.service__item__header__tear2 p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.125rem;
  font-weight: 500;
}

.service__item__body {
  background-color: white;
  text-align: left;
  padding: 4rem 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 20rem;
  width: 33rem;
}

.par1 {
  padding-bottom: 0.8rem;
}

.service__item__body__tear1 {
  border-radius: 0px 0px 10px 0px;
}

.service__item__body__tear2 {
  border-radius: 0px 0px 0px 10px;
}

.services__main img {
  margin-bottom: 10rem;
  width: 30rem;
}

@media screen and (max-width: 720px) {
  .services__main {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .services__main > div {
    box-sizing: border-box;
    width: 49.5%;
  }

  .service__item__header {
    background: #212121;
    height: 7rem;
    padding: 0;
    line-height: 1.9;
    transition: all 0.5s ease;
  }

  .service__item__header:hover {
    background-color: #5e337d;
  }

  .service__item__header__tear1 h3,
  .service__item__header__tear2 h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    overflow-y: hidden;
  }

  .service__item__header__tear1 p,
  .service__item__header__tear2 p {
    font-size: 14px;
  }

  .services__main :nth-child(1) {
    order: 1;
    /* width: 1fr; */
  }

  .services__main :nth-child(2) {
    order: 3;
    width: 80%;
    height: 70%;
  }
  .services__main :nth-child(3) {
    order: 2;
    /* width: 1fr; */
  }

  .services__main img {
    width: 20rem;
    margin: 0 auto;
    height: 25rem;
  }

  .service__item__header__tear1,
  .service__item__header__tear2,
  .service__item__body__tear1,
  .service__item__body__tear2 {
    width: 100%;
  }

  .service__item__header__tear1 {
    border-radius: 0px 10px 10px 0px;
  }
  .service__item__header__tear2 {
    border-radius: 10px 0px 0px 10px;
  }

  .service__item__body__tear1,
  .service__item__body__tear2 {
    display: none;
  }
}
