.services__container {
  min-height: 50vh;
  background-color: black;
  color: black;
  margin-bottom: 10rem;
}

.services__container h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 5rem;
}

.services__main {
  display: grid;
  grid-template-columns: 1.9fr 2fr 1.9fr;
}

.service__item__header {
  min-height: 13rem;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: white;
  transition: all 0.5s ease;
}

.service__item__header__tear1 {
  border-radius: 0px 10px 0px 0px;
}

.service__item__header__tear2 {
  border-radius: 10px 0px 0px 0px;
}

.service__item__header__tear1 h3,
.service__item__header__tear2 h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.service__item__header__tear1 p,
.service__item__header__tear2 p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.125rem;
  font-weight: 500;
}

.service__item__body {
  background-color: white;
  text-align: left;
  padding: 4rem 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 21rem;
}

.par1 {
  padding-bottom: 0.8rem;
}

.service__item__body__tear1 {
  border-radius: 0px 0px 10px 0px;
}

.service__item__body__tear2 {
  border-radius: 0px 0px 0px 10px;
}

.animation {
  width: 90%;
  height: 90%;
}

.service_update_btn1,
.service_update_btn2 {
  background: white;
  padding: 1rem;
  align-self: flex-start;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.service_update_btn1 img,
.service_update_btn2 img {
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.2s ease;
}

.service_update_btn1 img:hover,
.service_update_btn2 img:hover {
  transform: scale(1.2);
}

.service_update_btn1 {
  align-self: flex-start;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.service_update_btn2 {
  align-self: flex-end;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media screen and (max-width: 900px) {
  .services__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  .services__container {
    margin-bottom: 2rem;
  }

  .services__main > div {
    box-sizing: border-box;
    width: 50%;
  }

  .service__item__header {
    background: #212121;
    padding: 0;
    line-height: 1.9;
    transition: all 0.5s ease;
  }

  .service_update_btn1,
  .service_update_btn2 {
    background: white;
    padding: 0;
    width: 3rem;
    height: 3rem;
    align-self: center;
    margin-bottom: 1rem;
  }

  .service_update_btn1 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 4rem;
    border-radius: 5px;
  }

  .service_update_btn2 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 4rem;
    border-radius: 5px;
  }

  .service__item__header:hover {
    background-color: #5e337d;
  }

  .service__item__header__tear1 h3,
  .service__item__header__tear2 h3 {
    font-size: 1.3rem;
    margin-bottom: 0;
    overflow-y: hidden;
  }

  .service__item__header__tear1 p,
  .service__item__header__tear2 p {
    font-size: 9px;
    padding: 0 2rem;
    font-weight: 100 !important;
    line-height: 1.9;
  }

  .services__main :nth-child(1) {
    order: 1;
    width: 1fr;
  }

  .services__main :nth-child(2) {
    order: 3;
    width: 80%;
    height: 70%;
  }
  .services__main :nth-child(3) {
    order: 2;
  }

  .service__item__header__tear1,
  .service__item__header__tear2,
  .service__item__body__tear1,
  .service__item__body__tear2 {
    width: 95%;
    margin: auto;
  }

  .service__item__header__tear1 {
    border-radius: 0px 10px 10px 0px;
  }
  .service__item__header__tear2 {
    border-radius: 10px 0px 0px 10px;
  }

  .service__item__body__tear1,
  .service__item__body__tear2 {
    display: none;
  }

  .services__container h2 {
    margin-top: 2rem;
    letter-spacing: 1px;
  }
}

.wiggle a:hover {
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

@media screen and (max-width: 1115px) {
  .service__item__body {
    max-height: 12rem;
    padding: 2rem;
    min-height: 27rem;
  }
}

@media screen and (max-width: 1500px) {
  .service__item__body {
    max-height: 12rem;
    padding: 2rem;
  }
}
