.hero {
  /* outline: 2px solid rebeccapurple; */
  position: relative;
  width: 100vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroGalleryWrapper{
  outline: 2px solid white;
  position: absolute;
  width: 90%;
  height: 100%;
}

.bgImg {
  /* Styles which all images in the collage will share*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.image1 {
  background-image: url("/public/images/heroImg/bg1.png");
  /* background-color: red; */
  left: 0%;
  top: 0px;
  width: 20%;
  height: 40%;
}
 .image2 {
  background-image: url("/public/images/heroImg/bg2.png");
  /* background-color: blue; */
  width: 20%;
  height: 32%;
  /* left: 2%; */
  top: 40%;
}

.image3 {
  background-image: url("/public/images/heroImg/bg3.png");
  /* background-color: purple; */
  width: 20%;
  height: 28%;
  /* left: 2%; */
  bottom: 0px;
}

.image4 {
  background-image: url("/public/images/heroImg/bg4.png");
  /* background-color: green; */
  position: absolute;
  left: 20%;
  top: 0px;
  width: 25%;
  height: 53%;
}
.image5 {
  background-image: url("/public/images/heroImg/bg5.png");
  /* background-color: white; */
  left: 20%;
  height: 49%;
  width: 25%;
  bottom: 0;
}
.image6 {
  background-image: url("/public/images/heroImg/bg6.png");
  background-color: pink;
  height: 58%;
  width: 25%;
  top: 0px;
  right: 30%;
}
.image7 {
  background-image: url("/public/images/heroImg/bg7.png");
  /* background-color: brown; */
  width: 37%;
  height: 44%;
  bottom: 0px;
  right: 18%;
}
.image8 {
  background-image: url("/public/images/heroImg/bg8.png");
  /* background-color: orange; */
  width: 30%;
  height: 56%;
  top: 0px;
  right: 0px;
}
.image9 {
  background-image: url("/public/images/heroImg/bg9.png");
  /* background-color: aqua; */
  width: 18%;
  height: 44%;
  bottom: 0px;
  right: 0px;
} 

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.772);
  position: absolute;
  width: 75vw;
}

.overlay h3 {
  font-weight: 400;
}

.overlay .monterey {
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.montereyPin {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  /* width: 20px; */
  width: 1rem;
  display: block;
}

.overlay h1 {
  width: 38%;
  font-size: 32px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.overlay button {
  background: #5d337d;
  border: 2px solid #fafafa;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 10%;
  box-sizing: border-box;
  height: 3rem;
  width: 16.5rem;
}

.overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #5d337d00;
}

@media screen and (max-width: 890px) {
  
  .overlay {
    height: 48vh;
  }

  .overlay h2 {
    margin-bottom: 2rem;
    line-height: 32px;
    font-size: 24px;
  }

  .overlay h1 {
    width: auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .monterey,
  .native {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .image1, .image2, .image3{
    left: 0px;
    width: 50%;
  }

  .image4, .image5{
    width: 50%;
    left: 50%;
  }
  
  .image6, .image7, .image8, .image9{
    display: none;
  }
  
}
