.hero {
  outline: 2px solid rebeccapurple;
  position: relative;
  width: 100vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bgImg { /* Styles which all images in the collage will share*/
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.image1 {
  background-image: url('/public/images/heroImg/bg1.png');
  left: 0px;
  top: 0px;
  width: 20%;
  height: 40%;
}

.image2 {
  background-image: url('/public/images/heroImg/bg2.png');
  width: 20%;
  height: 32%;
  left: 0px;
  top: 40%;
}

.image3{
  background-image: url('/public/images/heroImg/bg3.png');
  width: 20%;
  height: 28%;
  left: 0px;
  bottom: 0px;
}

.image4{
  background-image: url('/public/images/heroImg/bg4.png');
  position: absolute;
  left: 20%;
  top: 0px;
  width: 24%;
  height: 50%;
}

.image5{
  background-image: url('/public/images/heroImg/bg5.png');
  left: 20%;
  height: 50%;
  width:25%;
  bottom: 0px;
}

.image6{
  background: red;
  height: 368px;
  /* height: 51%; */
  width: 22%;
  top: 0px;
  right: 34%;
}

.overlay {
  /* filter: blur(11px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.772);
  position: absolute;
  width: 75vw;
}

.overlay h3 {
  font-weight: 400;
}

.overlay .monterey {
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.montereyPin {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  /* width: 20px; */
  width: 1rem;
  display: block;
}

.overlay h1 {
  width: 38%;
  font-size: 32px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.overlay button {
  background: #5d337d;
  border: 2px solid #fafafa;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 10%;
  box-sizing: border-box;
  height: 3rem;
  width: 16.5rem;
}

.overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #5d337d00;
}