.testimonial_container {
  padding-bottom: 16rem;
  /* background: black; */
}

.testimonial_container h3 {
  color: black;
  text-align: center;
}

.testimonial_form {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 0 2rem;
  text-align: center;
  height: 29.5rem;
}

.testimonial_card input {
  border: .5px dashed black;
  font-family: 'Montserrat', sans-serif;
}

.testimonial_card textarea {
  border: .5px dashed black;
  font-family: 'Montserrat', sans-serif;
}

.text textarea {
  margin-top: 2rem;
  width: 70%;
  height: 9rem;
  text-align: center;
  line-height: 1.5;
  padding: 2rem;
  margin-bottom: 3rem;
}

.rating input {
  width: 4rem;
  height: 3.7rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.8rem;
}

.stars img {
  width: 2rem;
}

.card_name input {
  height: 2rem;
  width: 70%;
  margin-bottom: 2rem;
}

.card_img img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2.5px solid white;
}

.testimonial_container button {
  transform: translateY(4rem) !important;
}
