.about_info_wrapper {
  width: 100%;
  margin-top: 4rem;
}

.about__info {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  border-radius: 10px;
}

.about__info textarea {
  border: 1px dashed black;
  width: 100%;
  height: 14rem;
  font-family: 'Montserrat', sans-serif;
  color: black !important;
  padding: 2rem 3rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.modalCancelBtn {
  align-self: flex-end;
}

.modalCancelBtn img {
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
}

.about__info h3 {
  font-size: 2rem;
  padding-bottom: 2rem !important;
  text-align: center;
}

.about__footer textarea {
  height: 2.7rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: 12px;
}

.about__footer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__footer :nth-child(1) :nth-child(1) {
  height: 3.5rem !important;
  font-size: 10px !important;
  text-align: left !important;
}

.about__info form :nth-child(2) :nth-child(1) {
  height: 6.2rem;
  padding-top: 1rem;
}

@media screen and (max-width: 890px) {
  .about__container {
    padding: 1.2rem;
  }

  .about__info {
    padding: 2rem;
    border-radius: 5px;
  }

  .par2 {
    display: none;
  }

  .about__footer {
    flex-direction: column;
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
  }

  .about__footer__location {
    margin-bottom: 1rem;
  }

  .about__footer__location img {
    width: 1rem;
  }

  .barImg {
    display: none;
  }
}
