.password_change_wrapper {
  background: white;
  height: 100vh;
}

.password_change {
  margin: 10% auto;
  border-radius: 6px;
  background-color: black;
  box-shadow: 0 1px 4px rgba(248, 245, 245, 0.2);
  padding: 1rem;
  text-align: center;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 450px;
}

.password_change h4 {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 1.1px;
}

.control .email {
  padding-left: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: white;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;

  text-align: left;
  padding: 0.25rem;
  width: 300px;
  height: 44px;
}

.control .email {
  margin-bottom: 1.2rem;
}

.control .password {
  margin-bottom: 1rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
