.dashboard_main_container {
  background: black;
  height: 70vh;
  margin: 0 2rem;
  border-radius: 20px;
}


.dashboard_main_container h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-top: 3rem;
  }
  
