.marker {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: -10rem;
  /* transform-origin: left; */
}
.marker :first-child {
  background-color: var(--grey-300);
  
  margin-right: 2rem;
}
.marker :last-child {
  color: white;
  font-size: var(--text-sm);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .marker {
    display: none;
  }
}
