.nav_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* min-height: 85%; */
  max-height: 100vh;
}

.nav_header {
  height: 12rem;
  background: #644bde;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  overflow-y: hidden;
}

.img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  border: 2px solid white;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  margin: auto;
}

.nav_header p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Nav Main */

.nav_links {
  height: 100%;
  background: #644bde;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav_link {
  padding: 2.5rem 0;
  transition: all 1s ease;
  width: 100%;
  text-align: left;
}

.nav_links a {
  padding-left: 4rem;
  color: white;
  transition: all 1s ease;
}

a.nav_link_active {
  color: black;
  text-align: left;
}

.nav_link:hover {
  background: #7861e8;
  padding: 2.5rem 4rem;
  color: white;
}

.nav_link_active {
  background: white;
  padding: 2.5rem 4rem;
  color: black;
  transition: all 1s ease;
}

a.client_page_link {
  padding: 2.5rem 0;
  transition: all 1s ease;
  width: 100%;
  text-align: left;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 4rem;
  text-align: left;
}

.client_page_link:hover {
  transform: scale(1.1);
}

.nav_container .logout {
  background: black;
  height: 4rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  transition: all 1s ease;
}

.logout {
 padding: 1rem;
}

.nav_container .logout:hover {
  background: white;
  color: black;
  border: 1.4px solid black;
}

.nav_container .logout img {
  width: 1.8rem;
  padding-top: 0.5rem;
}

@media screen and (max-width: 890px) {
  .nav_container {
    /* border: 2px solid red; */
    display: none;
  }
}
