.hero {
  /* outline: 2px solid red; */
  height: 650px;
}

.row {
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* outline: 2px solid purple; */
  overflow: hidden;
}
.column {
  flex: 25%;
  max-width: 25%;
  /* outline: 2px solid green; */
}
.column img {
  vertical-align: middle;
  /* width: 100%; */
  /* outline: 2px solid red; */
}

.image1 {
  /* height: 43%; */
  width: 100%;
}

.overlay {
  /* filter: blur(11px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.772);
  position: absolute;
  width: 75vw;
  top: 24vh;
  left: 10vw;
  /* left: 50%;
  right: 50%; */
}
