.modal__overlay {
  position: fixed;
  background: white;
  width: 50%;
  min-height: 50rem;
  margin: 10% 35%;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
}

.modal__overlay button {
  float: right;
}

.modal__overlay img {
  width: 2rem;
}
