.marker {
  position: absolute;
  top: -6px;
  left: calc(var(--container) / 2);
  transform: rotate(90deg);
  transform-origin: left;
  display: flex;
  align-items: center;
}
.marker :first-child {
  background-color: var(--grey-300);
  height: 2px;
  width: 5rem;
  margin-right: 2rem;
}
.marker :last-child {
  color: var(--grey-300);
  font-size: var(--text-sm);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .marker {
    display: none;
  }
}
