.service_container {
  padding-bottom: 1rem;
}

.service_container :nth-child(2) {
  display: flex;
  flex-direction: column;
}

.service_container h3 {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.service__item__header {
  background: black;
  padding: 5rem 2rem 1rem 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service__item__header textarea {
  width: 100%;
  border: 0.5px dashed white;
  background: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-family: 500;
  padding-top: 1rem;
}

.service__item__body {
  padding: 2rem;
}

.service__item__body textarea {
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
  height: 12rem;
  width: 100%;
  border: 0.5px dashed black;
  padding: 1rem;
}

.service__item__body :nth-child(2) textarea {
  height: 10.5rem;
}

.service_container form button {
  height: 3.5rem;
  width: 70%;
  letter-spacing: 1.5px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loading_box {
  width: 30rem;
  height: 10rem;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

@media screen and (max-width: 900px) {
  .service__item__body :nth-child(1) textarea {
    height: 12.5rem;
  }
}
