.drink-card-container {
  display: flex;
  margin-top: -40;
  padding-top: 5.503rem;
  width: 21.875rem;
  background-color: pink;
  /* gap: 4rem; */
}

.drink-card-top {
  background: white;
  width: 21.875rem;
  height: 19.875rem;
  color: #fff;
  cursor: pointer;
  display: flex !important;
  /* flex-direction: right; */
  /* align-items: center; */
  /* gap: 4rem; */
  transition: all 0.6s ease;

}

.drink-card-top-name {
  font-size: 0.9rem;
  margin: -1rem;
  height: 1rem;
  
  background-color: rgb(243, 18, 18);
}

.drink-card-top {
  width: 21.875rem;
  height: 41.875rem;
  border: 1px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  
  transition: all 0.5s ease;
}

 .drink-card-top:hover {
  width: 95.625rem;
  height: 30.625rem;
  border: 0px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 21%;
} 

.drink-card-top > img {
  width: 100%;
  height: 30rem;
  /* object-fit: cover; */
} 

.drink-card-bottom {
  width: 30rem;
  height: 55rem;
  line-height: 1.75rem;
  line-height: 28px;
  display: none;
  transition: all 0.5s ease;
}

/* .drink-card-top:hover ~ .drink-card-bottom { */
.drink-card-top:hover {
  display: inline-block;
}

/* .drink-card-bottom-name {
  font-size: 18;
  font-weight: 600;
} */

/* .drink-card-bottom-drink,
.dink-card-bottom-address {
  font-size: 18;
  font-weight: 400;
} */

/* .drink-card-bottom-quote {
  font-size: 16;
  font-weight: 400;
  margin-top: 2rem;
  position: absolute;
}
  */