.service_container {
  padding-bottom: 1rem;
}

.service_container h3 {
  color: black;
  font-size: 1.5rem;
}

.service__item__header {
  background: black;
  padding: 5rem 2rem 1rem 2rem;
}

.service__item__header textarea {
  width: 90%;
  border: 0.5px dashed white;
  background: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-family: 500;
  padding-top: 1rem;
}

.service__item__body {
  padding: 2rem;
}

.service__item__body textarea {
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
  height: 10rem;
  width: 100%;
  border: 0.5px dashed black;
  padding: 0.5rem;
}

form button {
  height: 3.5rem;
  width: 70% !important;
  letter-spacing: 1.5px !important;
}

