.service_container {
  width: 95%;
  margin: auto;
  min-height: 35rem !important;
  margin-bottom: 4rem;
}


.service_container form textarea {
    /* border-color: darkgray !important; */
    border-style: dashed !important;
    /* height: 5rem !important; */
    /* border-color: #644bde !important; */
    border-color: black !important;
    /* color: black !important; */
    font-size: 13px !important;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 1px;
    line-height: 1.4 !important;

}

.service_container h3 {
  color: black;
  font-size: 2rem;

  text-align: center;
  margin-bottom: 3rem;
}

.service_header_wrapper {
  background: black;
  padding: 3rem 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.service_header {
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
 
}

.service_header :nth-child(1) {
  color: white !important;
  background: black !important;
  height: 5rem !important;
  text-align: center !important;
  font-size: 1.2rem !important;
  margin-bottom: 2rem !important;
  border-color: white !important;
  overflow-y: hidden !important;
    /* border: 1px solid red; */

}



.service_header :nth-child(1) :nth-child(1) {
 
  font-size: 2rem !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-weight: 600;
  overflow-y: hidden;
  padding-bottom: 1rem !important;
  height: 5rem !important;
  /* color: red !important; */
}



.service_body_wrapper {
  padding: 4rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border: 0.1px solid black;
}

form :nth-child(2) :nth-child(1) :nth-child(1) {
  /* background: red; */
  height: 10rem !important;
}

form button {
  height: 3.5rem;
  width: 70% !important;
  letter-spacing: 1.5px !important;
  margin-top: 2rem !important;
}




form input[type='checkbox'] {
  background: red;
}
