.modal {
  background-color: rgba(0, 0, 0, 0.9);
  /* position: absolute; */
  /* top: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2001;
}