.hero {
  width: 100%;
}

.hero_intro_text {
  padding: 1rem 0;
  margin-bottom: 2.5rem;
}

.hero_business_info_wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
  letter-spacing: 0.5px;
}

.hero_business_info {
  text-align: left;
}

.hero_business_info_wrapper img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.2rem;
}

.hero_intro_text h1,
.hero_intro_text h2 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.hero_intro_text h1 {
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.hero_intro_text h2 {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.hero_business_info_wrapper {
  display: flex;
}

.heroButton {
  background: #5d337d;
  border: 2px solid #fafafa;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 20%;
  box-sizing: border-box;
  height: 3rem;
  width: 16.5rem;
}

.heroButton:hover {
  transition: all 0.3s ease-in-out;
  background: #5d337d00;
}

@media screen and (max-width: 890px) {
  .heroButton {
    height: 42px;
    width: 182px;
  }
}

.image_gallery_wrapper {
  width: 100wh;
  height: 30vh;
}

.image_gallery {
  height: 25vh;
  width: 65%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid white;
  cursor: pointer;
}

.image_gallery :nth-child(1) {
  grid-area: 1 / 1 / 5 / 4;
}

.image_gallery :nth-child(2) {
  grid-area: 5 / 1 / 9 / 4;
}

.image_gallery :nth-child(3) {
  grid-area: 9 / 1 / 13 / 4;
}

.image_gallery :nth-child(4) {
  grid-area: 1 / 4 / 7 / 7;
}

.image_gallery :nth-child(5) {
  grid-area: 7 / 4 / 13 / 7;
}

.image_gallery :nth-child(6) {
  grid-area: 1 / 7 / 8 / 10;
}

.image_gallery :nth-child(7) {
  grid-area: 8 / 7 / 13 / 11;
}

.image_gallery :nth-child(8) {
  grid-area: 1 / 10 / 8 / 13;
}

.image_gallery :nth-child(9) {
  grid-area: 8 / 11 / 13 / 13;
}
