.card_display_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .card_display_wrapper h1{
font-size: 2rem;
letter-spacing: 1px;
  }
  .card_display_container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
