.testimonials_dashboard_container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.testimonials_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8rem;
}