.services_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0 2.4rem 2.4rem;
}

@media screen and (max-width: 900px) {
  .services_wrapper {
    flex-direction: column-reverse;
    padding: 0;
  }
}
