.slick-slide > div {
  margin: 5rem 2rem;
  /* background: green; */
}

.slick-slider {
  /* background: pink; */
  height: 45rem;
  overflow-y: hidden;
  gap: 0 !important;
}

.slider-container {
  width: 100%;
  margin: 5rem auto;
  /* background: yellow; */
  /* margin-bottom: 10rem; */
  height: 50rem;
}

.slick-list {
  margin: 0 -10px;
  /* background: red; */
  width: 80%;
  margin: auto;
}

.card {
  /* border: 1px solid #fff; */
  background: black;
  /* background: yellowgreen; */
  /* height: 670px; */
  color: #fff;
  cursor: pointer;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  transition: all 0.6s ease;
}

.card button {
  /* border: 2px solid green; */
  /* color: greenyellow; */
  padding: 1rem;
}

.card-top h1 {
  font-size: 0.9rem;
  /* margin: 20px; */
}

.card-top {
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 21%; */
  transition: all 0.5s ease;
}

.card-top:hover {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-left: 21%; */
}

.card-top > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-bottom {
  width: 258px;
  height: 237px;
  line-height: 1.75rem;
  line-height: 28px;
  display: none;
  transition: all 0.5s ease;
}

.card-top:hover ~ .card-bottom {
  display: block;
}

.card-bottom-name {
  font-size: 18;
  font-weight: 600;
}

.card-bottom-drink,
.card-bottom-address {
  font-size: 18;
  font-weight: 400;
}

.card-bottom-quote {
  font-size: 16;
  font-weight: 400;
  margin-top: 2rem;
}

.slick-prev,
.slick-next {
  top: 33%;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
}

.slick-arrow::before {
  /* background: red; */
  position: relative;
  top: 0.1rem;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* background: black; */
}

.slick-prev {
  left: 50px;
}
.slick-next {
  right: 50px;
}

.slick-dots {
  background: white;
  width: 16%;
  margin: 4rem auto;
  left: 42%;
  padding: 1px !important;
  border-radius: 25rem !important;
  overflow-y: hidden;
}
.slick-dots ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li button::before {
  font-size: 1rem;
  padding: 0;
}

@media screen and (max-width: 1230px) {
  .card-top {
    width: 18rem;
    height: 18rem;
  }

  .card-top:hover {
    width: 12.625rem;
    height: 12.625rem;
  }
}

@media screen and (max-width: 900px) {
  .slider-container {
    height: 39rem;
  }
  .slick-slider {
    height: 39rem;
  }
  .card {
    height: 670px;
    gap: 3rem;
    transition: all 0.6s ease;
    /* margin: 0; */
  }

  .slick-list {
    /* margin: 0; */
    width: 100%;
  }

  .slick-dots {
    width: 50%;
    left: 25%;
    padding: 0 !important;
    /* height: .8rem; */
  }

  .slick-dots li {
    width: 15px;
  }

  .slick-dots li button::before {
    font-size: 0.7rem;
    padding: 0;
  }
}
