.footer {
  margin: 10rem 0 5rem 0;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_content a {
  font-size: 1.125rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.footer_content__line {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
}

.bookConsultation {
  font-size: 1.125rem;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  font-size: 0.875rem;
}

.copyright a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
