.footer {
  margin: 10rem 0 5rem 0;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_content a {
  color: white;
}

.footer_content__line {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
  font-size: 1.125rem;
}

.bookConsultation {
  font-size: 1.125rem;
  cursor: pointer;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  font-size: 0.875rem;
}

.copyright a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 720px) {
  .footer_content {
    gap: 0;
  }

  .footer_content__line {
    flex-direction: column;
    justify-content: center;
  }

  .services,
  .testimonials,
  .signatureDrinks,
  .bookConsultation {
    font-size: 16px;
    padding-bottom: 2rem;
  }

  .bookConsultation {
    padding-bottom: 6rem;
  }
  .copyright {
    font-size: 14px;
    padding-bottom: 3rem;
  }
}
