.slider-container {
  padding: 5rem 8rem 15rem 10rem;
  width: auto;
  background-color: white;
  margin-top: 4rem;
}

.slider {
  background-color: white;
  display: flex;
}

.card-image {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-wrapper {
  width: 100%;
  padding-left: 25%;
}

.card-wrapper:active,
.card-wrapper:hover,
.card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
  /* position: relative; */
}

.carousel .slick-prev,
.carousel .slick-next {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: #fff;
  color: white;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  color: #000;
}

.carousel .slick-next {
  right: -60px;
  top: 180px;
}

.carousel .slick-prev {
  left: -60px;
  top: 180px;
}
