.add_edit_delete_container {
  background: white;
  display: flex;
  /* height: 30%; */
  right: 0px;
  position: absolute;
  height: 5rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-left: 2rem;
}

.add_edit_delete_container:hover {
  color: white;
}

.add_edit_delete_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem 0.7rem 1.5rem 1.4rem;
}

.add_edit_delete_wrapper img {
  width: 2rem;
  transition: all 0.5s ease;
}

.add_edit_delete_wrapper img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 890px) {
  .add_edit_delete_container {
    height: 4rem;
    width: 5rem;
    border-radius: 0;
    margin-left: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .add_edit_delete_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 1rem 0.6rem 1.5rem 1.5rem;
  }
}
