.add_edit_delete_container {
  background: white;
  display: flex;
  /* height: 30%; */
  height: 5rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-left: 2rem;
}

.add_edit_delete_container:hover {
  color: white;
}

.add_edit_delete_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem 0.7rem 1.5rem 1.4rem;
}

.add_edit_delete_wrapper img {
  width: 2rem;
  transition: all 0.5s ease;
}

.add_edit_delete_wrapper img:hover {
  transform: scale(1.1);
}
