.delete_data {
  background: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.delete_data img {
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.5s ease;
}

.delete_data img:hover {
  transform: scale(1.1);
}
