.edit_data {
  background: white;
  border-radius: 5px;
  padding: 0.5rem;
}


.edit_data img {
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.2s ease;
}



.edit_data img:hover {
  transform: scale(1.1);
}
