.drinks_wrapper {
  margin-bottom: 10rem;
  padding: 0 !important;
}

.drinks_wrapper h2 {
  margin-bottom: 5rem;
}

.drinks_display_container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  min-height: 575px;
}

.drink_card_container {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
  width: 295px;
  height: 100%;
}

.drink_card_container img {
  height: 449px;
  width: 100%;
  border-radius: 0 !important;
  transition: all 0.5s ease;
  object-fit: cover;
}

.drink_card_container img:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-delay: 0.1s;
}




.drink_card_title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: white;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 18px;
  padding-left: 0.5rem;
  padding-bottom: 0.7rem;
  letter-spacing: 0.5px;
  height: 123px;
  color: black;
}

.drink_card_description {
  display: none;
  transition: all 0.5s ease;
}

.drink_card_container:hover > .drink_card_description {
  height: 123px;
  background: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
  padding: 0.7rem;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding-bottom: 2rem;
  color: black;
  display: inline-block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transform: translateY(-1.1rem);
}

.drink_card_container:hover {
  transform: scaleX(1.14);
  transform-origin: left center;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 900px) {
  .drinks_display_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .drink_card_container {
    width: 70%;
    margin: auto;
  }

  .drink_card_title {
    height: 80px;
  }

  .drink_card_container:hover {
    transform: scaleY(1.1);
    transform-origin: bottom center;
    animation: none;
  }

  .drink_card_container img {
    height: 400px;
  }

  .drink_card_container:hover > .drink_card_description {
    height: 80px;
  }
}
