/* top of card background color white */
.drinksCard {
  background: white;
  width: 275px;
  height: 495px; 
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* top of card height */
.card_header {
  display: flex;
  align-items: flex-end;
  height: 7rem;
  width: 1%;
}
/* top of card text settings */
.card_header h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
}
/* gap between botton white bg and image */
.card_description:hover {
  display: flex;
  align-items: flex-end;
  height: 7rem;
}
/* bottom of card settings */
.card_description p:hover {
  background-color: white;
  height: 8rem;
  color: black;
  padding-left: 1rem;
  padding-top: 1rem;
  /* padding-bottom: 2.1rem; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; 
}
/* bottom of card color of text Only! */
.card_description p {
  color: black;
}
.drinksCard img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}
.drinksCard img:hover {
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}