.drinksCard {
  /* border:3px solid red; */
  background: white;
  height: 40rem;
  cursor: pointer;
}
.card_header {
  background-color: white;
  display: flex;
  align-items: flex-end;
  height: 7rem;
  width: 100%;
  border-top-right-radius: 1rem;
}
.card_header h3 {
  background-color: white;
  color: black;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.card_description:hover {
  display: flex;
  align-items: flex-end;
  height: 7rem;
}
.card_description p:hover {
  background-color: white;
  height: 7rem;
  color: black;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.card_description p {
  background-color: black;
  height: 7rem;
  color: black;
}
.drinksCard img {
  width: 100%;
}
