.testimonials-section {
  margin-top: 10rem;
}

.slider-container {
  margin-top: 2rem;
  
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-info {
  width: 350px;
  height: 350px;
  background: #d9d9d9;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  padding: 0 5rem;
  line-height: 1.9;
  font-size: 16px;
  padding-bottom: 1rem;
}

.card-name {
  font-size: 18px;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.8rem;
}

.stars img{
  width: 2rem;
}

.card-img {
  width: 5rem;
  height: 5rem;
  border: 2px solid white;
  border-radius: 50%;
  transform: translateY(-43px);
}

.card-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
