* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
a {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: white;
  font-size: 3.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 720px) {
  h2 {
    font-size: 2rem;
  }
}
