* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 a,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: white;
  font-size: 3.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* UpdateModal */
.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 20%;
  background-color: rgba(91, 112, 131, 0.4);
  background-color: rgb(100, 75, 222, 0.3);
  display: flex;
  z-index: 1000;
}

.modalWrapper {
  background: white;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
}

.modal {
  width: 25%;
  margin: 12% 15% 8% 26%;
  background-color: white;
  border-radius: 5px;
}

.modalWrapper .modalCancelBtn {
  float: right;
  align-self: flex-end;
  padding-right: 1rem;
}

.modalWrapper img {
  width: 1.5rem;
}

@media screen and (max-width: 720px) {
  h2 {
    font-size: 24px;
  }
}
