.bartender_card_container {
  width: 20rem;
  flex: 0 1 22%;
  background: #1b1b1b;
  padding: 0 1rem 1rem 1rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.5s ease;
  color: white;
  margin: 0;

}

.bartender_card_container:hover {
  border: 1.5px solid rgba(255, 255, 255, 0.92);
  transform: scale(0.9);
}

.bartender_card_header {
  background: white;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  visibility: visible;
  margin-bottom: 1rem;
  visibility: visible;
  visibility: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bartender_card_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bartender_card_info {
  margin-top: 1rem;
}

.bartender_card_info h3 {
  line-height: 1.3;
}

.bartender_card_name,
.bartender_card_drink,
.bartender_card_city {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 0.4;
}

.bartender_card_name {
  font-size: 13px;
  font-weight: 500;
}

.bartender_card_quote {
  margin-top: 3.2rem;
  font-size: 11px !important;
  font-weight: 100 !important;
  letter-spacing: 0.5px;
}


.bartender_card_img {
  width: 20rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border: 1.5px solid white;
}

.bartender_card_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}