.navbar {
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.menu {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.menu li {
  padding-top: 2.5rem;
}

.navbar a {
  font-size: 1.125rem;
  color: white;
  letter-spacing: 1px;
}

.contact__us {
  color: white;
  letter-spacing: 1px;
  font-size: 1.125rem;
  border: 2px solid white;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  background-color: transparent;
}

.mobile_btn {
  display: none;
}

.logo {
  color: white;
  font-size: 4.5rem;
  padding-left: 3rem;
  padding-top: 1.5rem;

  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.neonText {
  font-size: 4.5rem;
  color: #fff;
  text-shadow: 0px 4px 35px rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 720px) {
  .navbar {
    height: 8.2rem;
    justify-content: center;
  }

  .logo {
    margin-bottom: 2.5rem;
    padding-right: 2.1rem;
    font-size: 2rem !important;
  }

  .mobile_btn {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
    color: white;
  }

  .menu {
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #8b8b8b;
    z-index: 10;
    transition: left 1s;
  }

  .active {
    left: 0;
  }

  .navbar a {
    font-size: 1.125rem;
    color: white;
    font-family: 'Montserrat';
  }

  .logo,
  .neonText {
    font-size: 1.5rem;
  }

  .contact__us {
    font-size: 1.125rem;
    border: none;
    padding: 0;
    background-color: transparent;
  }
}
