:root {
  /* FONT FAMILY */
  --font-primary: 'Spartan', sans-serif;

  /* COLORS */
  --white: #fff;
  --grey-100: #eeeff4;
  --grey-300: #c8ccd8;
  --grey-500: #7d828f;
  --grey-700: #60636d;
  --grey-900: #1b1d23;
  --black: #000;
  --error: #df5656;

  /* FONT SIZES */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  /* SPACING */
  --container: 8%;
  --navbar-h: 5rem;
}
